<div id="candidate-inbox-shortcut" class="db6a39 shortcut-item">
  <a href="/candidates" class="menu-item a38740">
    <div data-testid="menu_item_1_lbl" class="menu-item e4457e">
      <div class="item-content__icon wrap__integration-shadow shortcut-content">
        <i class="ol-svg-icon ol-icon-users-shadow italic">
          <svg
            aria-hidden="true"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg"
            class="icon sprite-icons"
          >
            <use
              href="#i-users-shadow"
              xlink:href="#i-users-shadow"
              data-src="https://d25zu39ynyitwy.cloudfront.net/static/client/6f27592c2d8a5b9c9b09f765e6fd07c9.svg"
            ></use>
          </svg>
          <span class="shortcut-content-description">Inbox</span>
        </i>
      </div>
    </div>
  </a>
</div>
