<div id="client-setup-integrations-shortcut" class="db6a39 shortcut-item">
  <a
    href="/settings/client-setup-v2?setup_type=ats_integration"
    class="menu-item a38740"
  >
    <div data-testid="menu_item_33_lbl" class="menu-item a38740">
      <div class="item-content__icon wrap__integration-shadow shortcut-content">
        <i class="ol-svg-icon ol-icon-integration-shadow italic">
          <span class="shortcut-content-title">CS</span>
          <span class="shortcut-content-description">Integrations</span>
        </i>
      </div>
    </div>
  </a>
</div>
