<div id="integration-center-shortcut" class="db6a39" style="margin-right: 10px">
  <a href="/integration-center-v2" class="menu-item a38740"
    ><div data-testid="menu_item_33_lbl" class="item-content e4457e">
      <div
        class="item-content__icon wrap__integration-shadow"
        style="
          min-width: 40px;
          min-height: 40px;
          height: 40px;
          width: 40px;
          padding: 0;
        "
      >
        <i
          class="ol-svg-icon ol-icon-integration-shadow"
          style="font-size: 34px"
          ><svg
            aria-hidden="true"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg"
            class="icon sprite-icons"
          >
            <use
              href="#i-integration-shadow"
              xlink:href="#i-integration-shadow"
              data-src="https://d25zu39ynyitwy.cloudfront.net/static/client/6f27592c2d8a5b9c9b09f765e6fd07c9.svg"
            ></use></svg
        ></i>
      </div></div
  ></a>
</div>
