<div id="workflows-shortcut" class="db6a39 shortcut-item">
  <a href="/settings/workflows" class="menu-item a38740">
    <div data-testid="menu_item_33_lbl" class="menu-item a38740">
      <div class="item-content__icon wrap__integration-shadow shortcut-content">
        <i class="ol-svg-icon ol-icon-integration-shadow italic">
          <span class="shortcut-content-title">Sett.</span>
          <span class="shortcut-content-description">Workflows</span>
        </i>
      </div>
    </div>
  </a>
</div>
